nav {
  background-color: #3e3c3c;
}

#headline .row {
  height: 650px;
}

.display-2 {
  color: #f55800;
  font-weight: 700;
}

.btn-primary {
  background-color: #f55800;
}

.btn-primary:hover {
  background-color: #fff5e1;
  color: #f55800;
}

.btn-primary:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.social-media-links {
  height: 150px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0;
  list-style-type: none;
}

.social-media-link {
  color: #cfcfcf;
  text-decoration: none;
}

#about .row {
  height: 400px;
}

#about ul {
  padding-left: 0;
  list-style-type: none;
}

#contact p {
  font-size: 35px;
}

#contact .row {
  height: 500px;
}
